*{
    /*background-color: #5F822F;*/
}
.bg1{
    height: auto; width: auto\9; width:100%;
}
#ha2{
    position:absolute;
    left: 1400px;
    text-decoration: none;
}
#ha2:hover{
    background-color: aqua;
}

header{
    height: 150px;
    background-image: url("image/header01.jpg");
    background-repeat: round;
}
#hah{
    text-decoration: none;
}

#hah:hover{
    background-color: aqua;
}

#hh{
    color: coral;
    position:absolute;
    left:100px;
    top: 30px;
}
nav{
    width: 1000px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: bisque;
    height: 40px;
    font-size: x-large;
    font-weight: 800;
    list-style-type: none;
    overflow: hidden;

}
nav ul li a{
    text-decoration: none;
    padding: 12px 50px;
    /*padding: 1px 5px;*/
}

nav ul li a:hover{
background-color: burlywood;

}

.nud{
    display: inline-block;
}

.nudd{
    display: none;
    position: absolute;

    min-width: 160px;
    box-shadow:  0px 8px 16px 0px black;

}


.nud:hover .nudd{
    display: block;
}


.nudd a:hover{
    background-color: aquamarine;


}

.nuda{
    display: inline-block;
    text-decoration: none;/*清除下划线*/
}

.nuda:hover{
    background-color: burlywood;
}

.nudd a{
    display: block;
    color: whitesmoke;
    padding: 12px 50px;
    text-decoration: none;
}

.box{
    display: flex;
    height: auto; width: auto\9; width:100%;
}



@-webkit-keyframes myfirst {
    0%{
        background-image: url("image/wu00.jpg");

    }

    25%{
        background-image: url("image/wu01.jpg");
    }
    50%{
        background-image: url("image/wu02.jpg");
    }

    75%{
        background-image: url("image/wu03.jpg");
    }
}
/* css动画以百分比来规定改变发生的时间，或者通过关键词 "from" 和 "to"，等价于 0% 和 100%。0% 是动画的开始时间，100% 动画的结束时间*/


#ha1{
    flex-shrink: 0;

    height: 750px;


    background-image:url("image/wu00.jpg") ;
    -webkit-animation: myfirst 8s infinite;
}

#ha3{
flex: 40%;

}
#ad{
    padding-left: 20px;
}

.tab01 td{
    border:2px solid;
    border-color: blueviolet;
    background-color: aquamarine;
    height: 50px;
}
.tab02 td{
    border:2px groove;
    border-color: bisque;
    background-color: bisque;
    height: 50px;
}
.table11_3 table {
    width:100%;
    margin:25px 0;
    border:0;
}
.table11_3 th {
    background-color:#FF5675;
    color:#FFFFFF
}
.table11_3,.table11_3 th,.table11_3 td {
    font-size:0.95em;
    text-align:center;
    padding:4px;
    border-collapse:collapse;
}
.table11_3 th,.table11_3 td {
    border: 1px solid #fe2047;
    border-width:1px 0 1px 0;
    border:2px inset #ffffff;
}
.table11_3 tr {
    border: 1px solid #ffffff;
}
.table11_3 tr:nth-child(odd){
    background-color:#fec6d1;
}
.table11_3 tr:nth-child(even){
    background-color:#ffffff;
}

.box01{
    display: flex;
}
.new{
    flex: 10%;
    text-align: center;
}
.new h3{
    color: black;
}
.register{
    flex: 40%;
    padding-top: 10px;
    padding-left: 20px;
    text-align: center;
}
#nd{
    padding-top: 10px;
    width: 900px;
    height:83px;

}

#ba1{
    float: left;
    text-align: center;
}
#ba2{
    float: left;
    padding-left: 50px;
}
#ba3{
    float: left;
    padding-left: 50px;
}

@keyframes mysec {
    0%{
        transform:scale(0.7);}
    25%{
        transform:scale(1);  }

}

#na{
    width:250px;
    height:200px;
}
#na:hover{
    animation: mysec 5s linear infinite;
}
#na1{
    width:250px;
    height:200px;
}
#na1:hover{
    animation: mysec 5s linear infinite;
}
#na2{
    width:250px;
    height:200px;
}
#na2:hover{
    animation: mysec 5s linear infinite;
}
#ri{
    padding-top: 1px;
    width: 400px;
    height:83px;
}
#fo{
    padding-top: 20px;
    text-align: center;
}
.dbd{
    padding-left: 10px;
    padding-top: 20px;
    text-align: center;
}
#zc{
    padding-left: 80px;
}
#nei{
    padding-top: 10px;
}
.nd{
    padding-left: 30px;
}
.box03{
    display: flex;
}
#nea02{
    float: left;
    padding-left: 80px;
}

.intd{
    padding-left: 80px;
}


*{margin:0;padding:0;list-style-type:none;}

.container{max-width:1140px;margin:0 auto;}

.c-nav .show{
    display: inline-block;
}
.c-nav .hiden{
    display: none;
}
/* 导航栏 */
.c-nav{
    width: 100%;
    background: url(https://www.tsinghua.edu.cn/image/head-bg.png) center repeat-x;
    position: fixed;
}
.c-nav .navFlex{
    display: flex;
    display: -webkit-flex;
    justify-content:space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-content: center;
    color: white;
}
.c-nav ul{
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
}
.c-nav ul li{
    padding: 15px 0px 15px 0px;
    margin-left: 30px;
    display: inline-block;
}
.c-nav ul li a{
    color: white;
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
.c-nav ul li a:hover{
    border-bottom: 3px solid #e4c17e;
}
.c-nav .logo{
    height:40px;
}
.c-nav .btnImg {
    height: 20px;
    width: 25px;
    padding: 3px 8px 3px 8px;
    box-sizing: content-box;
    border: 1px solid transparent;
}

.c-nav .navFlex {
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
/ / 兼容 -webkit 内核的浏览器 top: 10 px;
}



footer{
    text-align: center;
    background-color: whitesmoke;
    height: 50px;
}
